<div
  class="flex flex-row items-center justify-start gap-5 border-[1px] border-[#e2e2e2] w-[50%] p-4 rounded-md shadow-md"
>
  <img [src]="images[0]" class="w-[30%] h-[100%] rounded-lg" />
  <div class="flex flex-col justify-between">
    <div class="flex flex-col gap-2">
      <h1>{{ name }}</h1>
      <p>{{ description }}</p>
      <h1>{{ price | currency : "BDT" }}</h1>
    </div>
    <button nz-button nzType="primary" class="" (click)="removeItem(id)">
      Remove
    </button>
  </div>
</div>
