<div
  class="flex flex-row sm:flex-col md:flex-col lg:flex-row w-full p-5 gap-10"
>
  <div class="border-[1px] border-[#e2e2e2] p-5 w-[50%] sm:w-full rounded-lg">
    <h1 class="font-semibold text-lg">Add Product</h1>
    <form class="flex flex-col gap-5">
      <input nz-input placeholder="Name" />
      <div class="flex flex-row gap-5">
        <input nz-input placeholder="Price" class="w-[50%]" />
        <nz-select class="w-[50%]">
          <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
          <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
          <nz-option
            nzValue="disabled"
            nzLabel="Disabled"
            nzDisabled
          ></nz-option>
        </nz-select>
      </div>
      <nz-textarea-count [nzMaxCharacterCount]="100">
        <textarea rows="4" nz-input placeholder="Description"></textarea>
      </nz-textarea-count>
      <button nz-button nzType="primary" type="submit">Submit</button>
    </form>
  </div>

  <div class="border-[1px] border-[#e2e2e2] p-5 w-[50%] sm:w-full rounded-lg">
    <h1 class="font-semibold text-lg">Add User</h1>
    <div class="flex flex-col gap-5">
      <input nz-input placeholder="Name" />
      <div class="flex flex-row gap-5">
        <input nz-input placeholder="Price" class="w-[50%]" />
        <nz-select class="w-[50%]">
          <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
          <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
          <nz-option
            nzValue="disabled"
            nzLabel="Disabled"
            nzDisabled
          ></nz-option>
        </nz-select>
      </div>
      <nz-textarea-count [nzMaxCharacterCount]="100">
        <textarea rows="4" nz-input placeholder="Description"></textarea>
      </nz-textarea-count>
      <button nz-button nzType="primary">Submit</button>
    </div>
  </div>
</div>
